.contentPokebola{
    display: flex;
    justify-content: center;
    
}
table {
    width: 100%;
    background-color: #F08080;
    
  }
.contentPokebola img{
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
table th,td{
    color: rgb(255, 255, 255);
  }